<!doctype html> 
<html lang="en" class="no-js"> 
<head> 
  <meta charset="utf-8" />
  <title>意见反馈发送状态</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css" />
  <script type='text/javascript' src='/static/js/jquery-1.11.1.min.js'></script>
  <script type='text/javascript' src='/static/js/jquery.particleground.min.js'></script>
  <script type='text/javascript' src='/static/js/demo.js'></script>
</head> 

<body>

<div id="particles">
	<div class="intro">
		<h1>sent successfully</h1>
        <a class="btn" onclick="login()">back to the index</a>
	</div>

</div>

<script>
    function login() {
        window.location.href="/welcome"
    }
</script>

</body> 
</html> 