<!doctype html> 
<html lang="en" class="no-js"> 
<head> 
  <meta charset="utf-8" />
  <title>管理界面</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css" />
  <script type='text/javascript' src='/static/js/jquery-1.11.1.min.js'></script>
  <script type='text/javascript' src='/static/js/jquery.particleground.min.js'></script>
  <script type='text/javascript' src='/static/js/demo.js'></script>
</head> 

<body>

<div id="particles">
	<div class="intro">
		<h1>Welcome to management</h1>
	</div>
</div>

<script>
</script>

</body> 
</html> 