<!doctype html> 
<html lang="en" class="no-js"> 
<head> 
  <meta charset="utf-8" />
  <title>表清单</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css" />
  <script type='text/javascript' src='/static/js/jquery-1.11.1.min.js'></script>
  <script type='text/javascript' src='/static/js/jquery.particleground.min.js'></script>
  <script type='text/javascript' src='/static/js/demo.js'></script>
</head> 

<body>

<div id="particles">
	<div class="intro">
		<h1>Welcome to Tablelist</h1>
        <a class="btn" onclick="select_1()">2019.9-2020.6志愿者信息汇总</a>
        <a class="btn" onclick="select_2()">两江人工智能学院青年志愿者协会2019下半年志愿者信息汇总表</a>
        <a class="btn" onclick="select_3()">2020_6补录</a>
	</div>

</div>

<script>
    function select_1() {
        window.location.href="/table/data"
    }
    function select_2() {
        window.location.href="/table/两江人工智能学院青年志愿者协会2019下半年志愿者信息汇总表"
    }
    function select_3() {
        window.location.href="/table/2020_6补录"
    }
</script>

</body> 
</html> 